spring:
  security:
    oauth2:
      client:
        registration:
          keycloak:
            client-id: ignite-sql-ui
            client-secret: change-me
            scope: openid,profile,email
        provider:
          keycloak:
            issuer-uri: http://localhost:8081/realms/ignite